//main colors for site
$title: #7B5845;
$description: #8F694F;
$button: #CFA588;
$element: #F0D9C1;

$white: #FFF;

//font-size
$sm: 12px;
$md: 19px;
$lg: 28px;

$h2: 27px;

//fonts logo

$title-mobile: 27px;
$title-desktop: 49px;
$subtitle-mobile: 12px;
$subtitle-desktop: 15px;




//fonts
$silver-south: 'Silver-Sout-Serif';

